{% extends "base.html" %}
{% block content %}
Liste des actions possibles avec leur syntaxe :
      <ul>
      <li>Aller %direction%</li>
      <li>Prendre %objet%</li>
      <li>Regarder %lieu/chose%</li>
      <li>Inspecter %lieu/objet%</li>
      <li>Ouvrir %objet%</li>
      <li>Ouvrir %objet% avec %objet2%</li>
      <li>Fermer %objet%</li>
      <li>Ecrire %votre_texte%</li>
      <li>Inventaire</li>
      <li>Allumer %objet%</li>
      <li>Eteindre %objet%</li>
      <li>Poser %objet%</li>
      <li>Poser %objet% sur %objet2%</li>
      <li>Pousser sur %objet%</li>
      <li>Attacher %objet% avec %objet2%</li>
      </ul>
{% end %}
{% block js %}
selected_tab = "#tababout";
{% end %}
